/* ==========================================
   FINAL.CSS
   These are the final styles for the project.

   Course:  CSS3 in 30 Days
   Author:  Brad Hussey
   Website: codecollege.ca
   ========================================== */

/* day 1 fancy button  */
button {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  margin: 0 15px 0 0;
}

/* =====================
   FACEBOOK STYLE BUTTON
   ===================== */

.final__facebook-style-btn {
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.final__facebook-style-dark {
  -moz-box-shadow: inset 0px 1px 0px 0px #4d73bf;
  -webkit-box-shadow: inset 0px 1px 0px 0px #4d73bf;
  box-shadow: inset 0px 1px 0px 0px #4d73bf;
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  text-shadow: 0 1px 0px #3359a5;
}

.final__facebook-style-dark:hover {
  background: #2b54a7;
}

.final__facebook-style-dark:active {
  background: #1d4698;
  border-color: #1d4698;
}

.final__facebook-style-light {
  background: #f6f7f9;
  border: 1px solid #ced0d4;
  border-radius: 2px;
  color: #4b4f56;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.final__facebook-style-light:hover {
  background: #e9ebee;
}

.final__facebook-style-light:active {
  background: #d8dade;
  border-color: #d8dade;
}

/* =====================
   3D BUTTON 1
   ===================== */

.final__btn-3d-1 {
  position: relative;
  background: orangered;
  border: none;
  color: white;
  padding: 15px 24px;
  font-size: 1.4rem;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
  outline: none;
}

.final__btn-3d-1:hover {
  background: hsl(16, 100%, 45%);
}

.final__btn-3d-1:active {
  background: hsl(16, 100%, 40%);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.final__btn-3d-1::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  /* border width needs to be size of the element's box shadow */
  border: solid 6px transparent;

  /* border width needs to be size of the element's box shadow */
  border-right: solid 6px hsl(16, 100%, 30%);

  /* no width for left, makes measurements easier */
  border-left-width: 0px;

  background: none;
  top: 0px;

  /* needs to be the same size as border width */
  left: -6px;
}

.final__btn-3d-1::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-top: solid 6px hsl(16, 100%, 30%);
  border-bottom-width: 0px;
  background: none;
  right: 0;
  bottom: -6px;
}

.final__btn-3d-1:active::before {
  border: solid 3px transparent;
  border-right: solid 3px hsl(16, 100%, 30%);
  border-left-width: 0px;
  left: -3px;
}

.final__btn-3d-1:active::after {
  border: solid 3px transparent;
  border-top: solid 3px hsl(16, 100%, 30%);
  border-bottom-width: 0px;
  bottom: -3px;
}

/* =====================
   3D BUTTON 2
   ===================== */

.final__btn-3d-2 {
  position: relative;

  background: #ecd300; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(
    hsl(54, 100%, 50%),
    hsl(54, 100%, 40%)
  ); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(
    hsl(54, 100%, 50%),
    hsl(54, 100%, 40%)
  ); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(
    hsl(54, 100%, 50%),
    hsl(54, 100%, 40%)
  ); /* For Firefox 3.6 to 15 */
  background: radial-gradient(
    hsl(54, 100%, 50%),
    hsl(54, 100%, 40%)
  ); /* Standard syntax */

  font-size: 1.4rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px hsl(54, 100%, 20%);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  z-index: 4;

  outline: none;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%), 0 8px 0 hsl(54, 100%, 8%),
    0 9px 0 hsl(54, 100%, 6%);
}

.final__btn-3d-2:hover {
  background: #ecd300; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(
    hsl(54, 100%, 45%),
    hsl(54, 100%, 35%)
  ); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(
    hsl(54, 100%, 45%),
    hsl(54, 100%, 35%)
  ); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(
    hsl(54, 100%, 45%),
    hsl(54, 100%, 35%)
  ); /* For Firefox 3.6 to 15 */
  background: radial-gradient(
    hsl(54, 100%, 45%),
    hsl(54, 100%, 35%)
  ); /* Standard syntax */
}

.final__btn-3d-2:active {
  background: #ecd300; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(
    hsl(54, 100%, 43%),
    hsl(54, 100%, 33%)
  ); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(
    hsl(54, 100%, 43%),
    hsl(54, 100%, 33%)
  ); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(
    hsl(54, 100%, 43%),
    hsl(54, 100%, 33%)
  ); /* For Firefox 3.6 to 15 */
  background: radial-gradient(
    hsl(54, 100%, 43%),
    hsl(54, 100%, 33%)
  ); /* Standard syntax */

  top: 2px;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%);
}

/* =========================
   GRADIENT BORDERED BUTTONS
   ========================= */

.final__gradient-button-1 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #e7eef1;
  border: 10px solid transparent;
  border-image: linear-gradient(to top right, orangered, yellow);
  border-image-slice: 1;
  color: orangered;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.final__gradient-button-1:hover {
  background-size: 100%;
  background-image: linear-gradient(to top right, orangered, yellow);
  color: white;
}

.final__gradient-button-2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #e7eef1;
  border: 4px solid transparent;
  border-image: linear-gradient(to right, orangered, transparent);
  border-image-slice: 1;
  color: orangered;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.final__gradient-button-2:hover {
  background-size: 100%;
  background-image: linear-gradient(to right, orangered, transparent);
  border-right-style: none;
  color: white;
}

/* =========================
   ANIMATED BUTTONS
   ========================= */

.final__animated-button-1 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  background-color: #00b3b4;

  background-image: url(../image/pattern.png);
  background-size: 40px 40px;
  border: 1px solid #555;
  color: white;
  transition: all 0.3s ease;
}
.final__animated-button-1:hover {
  -webkit-animation: loading-button-animation 2s linear infinite;
  animation: loading-button-animation 2s linear infinite;
}

.final__animated-button-2 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  background-color: #00b3b4;
  background-size: 20px 20px;
  border: 1px solid #555;
  color: white;
  transition: all 0.3s ease;
}
.final__animated-button-2:after {
  position: absolute;
  top: 50%;
  right: 0.6em;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: "»";
  opacity: 0;
  transition: all 0.3s ease;
}
.final__animated-button-2:hover {
  padding: 20px 60px 20px 20px;
}
.final__animated-button-2:hover:after {
  right: 1.2em;
  opacity: 1;
}

@-webkit-keyframes loading-button-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes loading-button-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

/* =========================
   TOGGLE SWITCH UI BUTTONS
   ========================= */

.final__toggle-1 {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}
.final__toggle-1__input {
  display: none;
}
.final__toggle-1__button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2395a;
  border: 1px solid #f2395a;
  color: #ffffff;
  width: 80px;
  height: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.final__toggle-1__button:before {
  position: absolute;
  top: 6px;
  left: 40px;
  right: auto;
  display: inline-block;
  height: 20px;
  padding: 0 3px;
  background-color: #ffffff;
  color: #f2395a;
  content: "off";
  transition: all 0.3s ease;
}
.final__toggle-1__input:checked + .final__toggle-1__button {
  background-color: #00b3b4;
  border: 1px solid #00b3b4;
}
.final__toggle-1__input:checked + .final__toggle-1__button:before {
  left: 5px;
  content: "on";
  color: #00b3b4;
}

.final__toggle-2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}
.final__toggle-2__input {
  display: none;
}
.final__toggle-2__button {
  position: relative;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #aaaaaa;
  border: 1px solid #cccccc;
  padding: 5px 10px 5px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.final__toggle-2__button:before {
  position: absolute;
  top: 10px;
  left: 10px;
  right: auto;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #cccccc;
  content: "";
  transition: all 0.3s ease;
}
.final__toggle-2__input:checked + .final__toggle-2__button {
  background-color: #00b3b4;
  border-color: #00b3b4;
  color: #ffffff;
}
.final__toggle-2__input:checked + .final__toggle-2__button:before {
  background-color: #ffffff;
}
/* day 2 sexy typography */

.final__shadow-typo {
  position: relative;
  display: inline-block;
  font-size: 4em;
  text-transform: uppercase;
  color: #00b3b4;
  text-shadow: 3px 3px 0px #e7eef1, 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.final__threedee-typo {
  font-size: 4em;
  text-transform: uppercase;
  color: #f2395a;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
  transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31,
    4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #d10e31, 7px 7px #d10e31,
    8px 8px #890920, 9px 9px #890920, 10px 10px #890920,
    11px 11px 15px rgba(0, 0, 0, 0.5);
}

/* day 3 cliping image to shape */
.final__clip-image-1 {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.final__clip-image-2 {
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.final__clip-image-3 {
  -webkit-clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.final__clip-image-4 {
  -webkit-clip-path: polygon(
    0% 20%,
    40% 20%,
    40% 0%,
    100% 50%,
    40% 100%,
    40% 80%,
    0% 80%
  );
  clip-path: polygon(
    0% 20%,
    40% 20%,
    40% 0%,
    100% 50%,
    40% 100%,
    40% 80%,
    0% 80%
  );
}

/* day 4 sexy registration form */

.final__register-wrapper {
  background-image: -webkit-linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  background-image: linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  position: relative;
  z-index: 3;
  padding: 100px;
  font-size: 16px;
  color: #999999;
}
.final__register-wrapper * {
  box-sizing: border-box;
}
.final__register-wrapper form input {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.final__register-wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}
.final__register-wrapper form input[type="email"]:focus,
.final__register-wrapper form input[type="email"]:active,
.final__register-wrapper form input[type="password"]:focus,
.final__register-wrapper form input[type="password"]:active {
  border-color: #cccccc;
}
.final__register-wrapper form input[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  font-size: 1rem;
  background-color: #f2395a;
  background-size: 100%;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  background-size: 20px 20px, 100% 100%;
  border: 1px solid #f02146;
  border-bottom-width: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.final__register-wrapper form input[type="submit"]:hover {
  background-size: 40px 40px;
}
.final__register-title {
  font-size: 1.5em;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px dashed #e6e6e6;
}
.final__register-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.final__register-block:before,
.final__register-block:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-transform: scale(0.9) translate(0, 0);
  transform: scale(0.9) translate(0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.final__register-block:hover:before {
  z-index: -1;
  -webkit-transform: scale(0.96) translate(0, 16px);
  transform: scale(0.96) translate(0, 16px);
}
.final__register-block:hover:after {
  z-index: -2;
  -webkit-transform: scale(0.92) translate(0, 32px);
  transform: scale(0.92) translate(0, 32px);
}

/* day 5 broken image */
img.final__image {
  position: relative;
  display: inline-block;
  font-family: Arial, sans serif;
  font-size: 0.7em;
  text-align: center;
  text-transform: uppercase;
}

img.final__image:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 200px;
  padding: 10px 20px 10px 45px;
  border: 1px dashed #888888;
  background-color: #f0f0f0;
  background-image: url(noimage.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  z-index: 1;
  content: "" attr(alt) " Not Found";
}
/* day 6 print */

@media print {
  /* HIDE UNWANTED ELEMENTS */
  body::before,
  .course-files,
  #logo,
  .final-result::before,
  .info::before,
  .final-result::after,
  .info::after,
  .final-result h2,
  .info h2,
  img {
    display: none;
  }

  /* GLOBAL RESET */
  body {
    font-family: Georgia, serif;
    font-size: 16pt;
    line-height: 24pt;
    background: none;
    color: #000;
  }

  /* LAYOUT RESET */
  .final-result,
  .info,
  section,
  footer {
    background: none;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    color: #000;
  }

  section:first-child::before {
    border: none;
  }

  /* SPECIFICS */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-size: 24pt;
    line-height: 30pt;
    margin: 0;
  }

  h1 {
    font-size: 50pt;
    margin: 0 0 20pt;
    text-align: center;
    width: 100%;
    transform: rotate(0);
  }

  h1 small {
    font-size: 24pt;
    color: #000;
    margin: 0 0 10pt;
  }

  .info p {
    color: #000;
  }

  a:link {
    margin: 0;
  }

  a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}

/* day 7 image manipulation */
.final-result img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.final-result img:hover {
  cursor: crosshair;
}

.final__grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.final__grayscale:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.final__blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.final__blur:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.final__invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.final__invert:hover {
  -webkit-filter: invert(0);
  filter: invert(0);
}
.final__sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
.final__sepia:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
