/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

/* facebook button */
.facebook-style-btn {
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.facebook-style-dark {
  -moz-box-shadow: inset 0 1px 0 0 #4d73bf;
  -webkit-box-shadow: inset 0 1px 0 0 #4d73bf;
  box-shadow: inset 0 1px 0 0 #4d73bf;
  background-color: #4267b2;
  border: solid 1px #4267b2;
  color: white;
  text-shadow: 0 1px 0 #3359a5;
}

.facebook-style-dark:hover {
  background-color: #2b54a7;
}
.facebook-style-dark:active {
  background-color: #1d4698;
  border-color: #1d4698;
}

.facebook-style-light {
  background-color: #f6f7f9;
  border: solid 1px #ced0d4;
  color: #4b4f56;
}

.facebook-style-light:hover {
  background-color: #e9ebee;
}
.facebook-style-light:active {
  background-color: #d8dade;
  border-color: #d8dade;
}

/* 3d Button */

.btn-3d-1 {
  position: relative;
  background-color: orangered;
  border: none;
  color: white;
  padding: 15px 24px;
  font-size: 1.4rem;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
  outline: none;
}

.btn-3d-1:hover {
  background-color: hsl(16, 100%, 45%);
}

.btn-3d-1:active {
  background-color: hsl(15, 100%, 40%);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn-3d-1::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;

  border: solid 6px transparent;
  border-right: solid 6px hsl(16, 100%, 30%);
  border-left-width: 0;
  top: 0;
  left: -6px;
}
.btn-3d-1::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;

  border: solid 6px transparent;
  border-top: solid 6px hsl(16, 100%, 30%);
  border-bottom-width: 0;
  right: 0;
  bottom: -6px;
}

.btn-3d-1:active::before {
  border: solid 3px transparent;
  border-right: solid 3px hsl(16, 100%, 30%);
}
.btn-3d-1:active::after {
  border: solid 3px transparent;
  border-top: solid 3px hsl(16, 100%, 30%);
}

/* 3d button 2 */

.btn-3d-2 {
  position: relative;

  background-color: #ecd300;
  background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));
  background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%));

  font-size: 1.4rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px hsl(54, 100%, 20%);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  z-index: 4;

  outline: none;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%), 0 8px 0 hsl(54, 100%, 8%),
    0 9px 0 hsl(54, 100%, 6%);
}

.btn-3d-2:hover {
  background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
  background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
  background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
  background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%));
}
.btn-3d-2:active {
  background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));
  background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%));

  top: 2px;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%), 0 2px 0 hsl(54, 100%, 20%),
    0 3px 0 hsl(54, 100%, 18%), 0 4px 0 hsl(54, 100%, 16%),
    0 5px 0 hsl(54, 100%, 14%), 0 6px 0 hsl(54, 100%, 12%),
    0 7px 0 hsl(54, 100%, 10%);
}

/* gradient button */

.gradient-btn-1 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  box-sizing: border-box;
  background-color: #e7eef1;
  border: solid 10px transparent;
  border-image: linear-gradient(to top right, orangered, yellow);
  border-image-slice: 1;
  color: orangered;
  transition: all 0.3s ease-in-out;
}

.gradient-btn-1:hover {
  background-image: linear-gradient(to top right, orangered, yellow);
  color: white;
}

.gradient-btn-2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  box-sizing: border-box;
  background-color: #e7eef1;
  border: solid 4px transparent;
  border-image: linear-gradient(to right, orangered, transparent);
  border-image-slice: 1;
  color: orangered;
  transition: all 0.3s ease-in-out;
}

.gradient-btn-2:hover {
  background-image: linear-gradient(to right, orangered, transparent);
  color: white;
  border-right-style: none;
}

/* animated button */

.animated-btn-1 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  background-color: #00b3b4;
  background-image: url(../image/pattern.png);
  background-size: 40xp 40px;
  border: solid 1px #555;
  color: white;
  transition: all ease 0.3s;
}

.animated-btn-1:hover {
  animation: loading-btn-animation 2s linear infinite;
}

@keyframes loading-btn-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.animated-btn-2 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1.4rem;
  background-color: #00b3b4;
  background-size: 40xp 40px;
  border: solid 1px #555;
  color: white;
  transition: all ease 0.3s;
}

.animated-btn-2::after {
  position: absolute;
  top: 30%;
  right: 0.6em;
  content: ">";
  transition: all ease 0.3s;
  opacity: 0;
}

.animated-btn-2:hover {
  padding: 20px 60px 20px 20px;
}
.animated-btn-2:hover::after {
  right: 1.2em;
  opacity: 1;
}

/* toogle switch button */

.toggle-1 {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

.toggle-1__input {
  display: none;
}

.toggle-1__button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2395a;
  border: solid 1px #f2395a;
  color: white;
  width: 80px;
  height: 30px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.toggle-1__button::before {
  position: absolute;
  top: 6px;
  left: 38px;
  right: auto;
  display: inline-block;
  height: 20px;
  padding: 0 3px;
  background-color: #ffffff;
  color: #f2395a;
  content: "off";
  transition: all 0.3s ease;
}

.toggle-1__input:checked + .toggle-1__button {
  background-color: #00b3b4;
  border: solid 1px #00b3b4;
}

.toggle-1__input:checked + .toggle-1__button::before {
  left: 5px;
  content: "on";
  color: #00b3b4;
}

.toggle-2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

.toggle-2__input {
  display: none;
}
.toggle-2__button {
  position: relative;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  background-color: white;
  color: #aaa;
  border: solid 1px #ccc;
  padding: 5px 10px 5px 30px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.toggle-2__button::before {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  content: "";
  transition: all ease 0.3s;
  border-radius: 100%;
}

.toggle-2__input:checked + .toggle-2__button {
  background-color: #00b3b4;
  border-color: #00b3b4;
  color: white;
}

.toggle-2__input:checked + .toggle-2__button::before {
  background-color: white;
}

/* cool shadow */
.shadow-typo {
  position: relative;
  display: inline-block;
  font-size: 6rem;
  text-transform: uppercase;
  color: #00b3b4;
  text-shadow: 3px 3px 0px #e7eef1, 8px 4px 0px rgba(0, 0, 0, 0.1);
}

.threedee-typo {
  font-size: 6rem;
  text-transform: uppercase;
  color: #f02046;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
  transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;

  text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31,
    4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #d10e31, 7px 7px #d10e31,
    8px 8px #c01232, 9px 9px #c01232, 10px 10px #c01232,
    11px 11px 20px rgba(0, 0, 0, 0.5);
}

/* clipping images day 3 */

/* image number 1 */

.clip-image-1 {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.clip-image-2 {
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0 75%
  );
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0 75%);
}
.clip-image-3 {
  -webkit-clip-path: polygon(
    20% 0,
    0 20%,
    30% 50%,
    0 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  clip-path: polygon(
    20% 0,
    0 20%,
    30% 50%,
    0 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
.clip-image-4 {
  -webkit-clip-path: polygon(
    0% 33%,
    60% 36%,
    52% 19%,
    100% 50%,
    52% 72%,
    58% 50%,
    0% 59%
  );
  clip-path: polygon(
    0% 33%,
    60% 36%,
    52% 19%,
    100% 50%,
    52% 72%,
    58% 50%,
    0% 59%
  );
}

/* day 4 sexy registration form */

.register-wrapper {
  background-image: -webkit-linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  background-image: linear-gradient(135deg, #0eeff0 30%, #088f90 90%);
  position: relative;
  z-index: 3;
  padding: 100px;
  color: #999;
  font-size: 1rem;
}

.register-wrapper * {
  box-sizing: border-box;
}

.register-wrapper form input {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  background-color: white;
  border: solid 1px #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  outline: none;
}
.register-wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}
.register-wrapper form input[type="email"]:focus,
.register-wrapper form input[type="email"]:active,
.register-wrapper form input[type="password"]:focus,
.register-wrapper form input[type="password"]:active {
  border-color: #ccc;
}
.register-wrapper form input[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  background-color: #f2395a;
  background-size: 20px 20px;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  border: solid 1px #f02146;
  border-bottom-width: 3px;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.register-wrapper form input[type="submit"]:hover {
  background-size: 30px 30px;
}

.register-title {
  font-size: 1.5rem;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: dashed 1px #e6e6e6;
}

.register-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.register-block::before,
.register-block::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  -webkit-transform: scale(0.9) translate(0, 0);
  transform: scale(0.9) translate(0, 0);
  transition: all ease 0.3s;
}

.register-block::after {
  transition-delay: 0.05s;
}

.register-block:hover::before {
  -webkit-transform: scale(0.96) translate(0, 16px);
  transform: scale(0.96) translate(0, 16px);
  z-index: -1;
}
.register-block:hover::after {
  -webkit-transform: scale(0.92) translate(0, 32px);
  transform: scale(0.92) translate(0, 32px);
  z-index: -2;
}
/* day 5 broke image  */
.image {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.image:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 200px;
  padding: 10px 20px 10px 45px;
  border: dashed 1px #888;
  background-color: #f0f0f0;
  background-image: url(/image/noimage.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  z-index: 1;
  content: "" attr(alt) "Not";
}

/* day 6 print your page */
/* @media print { */
/* Hide unwanted element */
/* body::before,
  #logo,
  .final-result::before,
  .info::before,
  .final-result::after,
  .content::after,
  .info::after,
  .final-result h2,
  .info h2,
  img {
    display: none; */
/* } */
/* GLOBAL TYPOGRAPHY RESET */
/* body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16pt;
    line-height: 24pt;
    background-color: none;
    color: #000;
  } */
/* LAYOUT RESSET */
/* .final-result,
  .info,
  section,
  footer {
    background-color: none;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    color: #000;
  }

  section:first-child::before {
    border: none;
  }
} */
@media print {
  /* HIDE UNWANTED ELEMENTS */
  body::before,
  .course-files,
  #logo,
  .final-result::before,
  .info::before,
  .final-result::after,
  .info::after,
  .final-result h2,
  .info h2,
  img {
    display: none;
  }

  /* GLOBAL RESET */
  body {
    font-family: Georgia, serif;
    font-size: 16pt;
    line-height: 24pt;
    background: none;
    color: #000;
  }

  /* LAYOUT RESET */
  .final-result,
  .info,
  section,
  footer {
    background: none;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    color: #000;
  }

  section:first-child::before {
    border: none;
  }

  /* SPECIFICS */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    font-size: 24pt;
    line-height: 30pt;
    margin: 0;
  }

  h1 {
    font-size: 50pt;
    margin: 0 0 20pt;
    text-align: center;
    width: 100%;
    transform: rotate(0);
  }

  h1 small {
    font-size: 24pt;
    color: #000;
    margin: 0 0 10pt;
  }

  .info p {
    color: #000;
  }

  a:link {
    margin: 0;
  }

  a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}

/* day 7 image manipulation */
.sandbox img {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.sandbox img:hover {
  cursor: crosshair;
}
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.grayscale:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.blur:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.invert {
  -webkit-filter: invert(0.8);
  filter: invert(0.8);
}
.invert:hover {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
.sepia:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
/* day 8  super mario */
.mario-block {
  display: inline-block;
  position: relative;
  margin: 80px auto;
  width: 16em;
  height: 16em;
}
#wahoo {
  outline: none;
}
#wahoo:active + .mario-block {
  animation: wahooMario 0.8s ease-in-out 1;
}

@keyframes wahooMario {
  0% {
    left: 0;
    bottom: 0;
    transform: rotate(0);
  }
  30% {
    left: 200px;
    bottom: 200px;
    transform: rotate(-25deg);
  }
  80% {
    left: 400px;
    bottom: 0;
    transform: rotate(0);
  }
  100% {
    left: 0;
    bottom: 0;
    transform: rotate(0);
  }
}
.mario {
  display: block;
  width: 1em;
  height: 1em;
  background-color: #e7eef1;
  box-shadow: 0em 0em #e7eef1, 1em 0em #e7eef1, 2em 0em #e7eef1, 3em 0em #e7eef1,
    4em 0em #e7eef1, 5em 0em #e7eef1, 6em 0em #e7eef1, 7em 0em #e7eef1,
    8em 0em #e7eef1, 9em 0em #e7eef1, 10em 0em #e7eef1, 11em 0em #e7eef1,
    12em 0em #e7eef1, 13em 0em #e7eef1, 14em 0em #e7eef1, 15em 0em #e7eef1,
    0em 1em #e7eef1, 1em 1em #e7eef1, 2em 1em #e7eef1, 3em 1em #e7eef1,
    4em 1em #e7eef1, 5em 1em red, 6em 1em red, 7em 1em red, 8em 1em red,
    9em 1em red, 10em 1em #e7eef1, 11em 1em #e7eef1, 12em 1em #ffc966,
    13em 1em #ffc966, 14em 1em #ffc966, 15em 1em #e7eef1, 0em 2em #e7eef1,
    1em 2em #e7eef1, 2em 2em #e7eef1, 3em 2em #e7eef1, 4em 2em red, 5em 2em red,
    6em 2em red, 7em 2em red, 8em 2em red, 9em 2em red, 10em 2em red,
    11em 2em red, 12em 2em red, 13em 2em #ffc966, 14em 2em #ffc966,
    15em 2em #e7eef1, 0em 3em #e7eef1, 1em 3em #e7eef1, 2em 3em #e7eef1,
    3em 3em #e7eef1, 4em 3em brown, 5em 3em brown, 6em 3em brown,
    7em 3em #ffc966, 8em 3em #ffc966, 9em 3em black, 10em 3em #ffc966,
    11em 3em #e7eef1, 12em 3em red, 13em 3em red, 14em 3em red, 15em 3em #e7eef1,
    0em 4em #e7eef1, 1em 4em #e7eef1, 2em 4em #e7eef1, 3em 4em brown,
    4em 4em #ffc966, 5em 4em brown, 6em 4em #ffc966, 7em 4em #ffc966,
    8em 4em #ffc966, 9em 4em black, 10em 4em #ffc966, 11em 4em #ffc966,
    12em 4em #ffc966, 13em 4em red, 14em 4em red, 15em 4em #e7eef1,
    0em 5em #e7eef1, 1em 5em #e7eef1, 2em 5em #e7eef1, 3em 5em brown,
    4em 5em #ffc966, 5em 5em brown, 6em 5em brown, 7em 5em #ffc966,
    8em 5em #ffc966, 9em 5em #ffc966, 10em 5em black, 11em 5em #ffc966,
    12em 5em #ffc966, 13em 5em #ffc966, 14em 5em red, 15em 5em #e7eef1,
    0em 6em #e7eef1, 1em 6em #e7eef1, 2em 6em #e7eef1, 3em 6em brown,
    4em 6em brown, 5em 6em #ffc966, 6em 6em #ffc966, 7em 6em #ffc966,
    8em 6em #ffc966, 9em 6em black, 10em 6em black, 11em 6em black,
    12em 6em black, 13em 6em red, 14em 6em red, 15em 6em #e7eef1,
    0em 7em #e7eef1, 1em 7em #e7eef1, 2em 7em #e7eef1, 3em 7em #e7eef1,
    4em 7em #e7eef1, 5em 7em #ffc966, 6em 7em #ffc966, 7em 7em #ffc966,
    8em 7em #ffc966, 9em 7em #ffc966, 10em 7em #ffc966, 11em 7em #ffc966,
    12em 7em red, 13em 7em red, 14em 7em #e7eef1, 15em 7em #e7eef1,
    0em 8em #e7eef1, 1em 8em #e7eef1, 2em 8em red, 3em 8em red, 4em 8em red,
    5em 8em red, 6em 8em blue, 7em 8em red, 8em 8em red, 9em 8em red,
    10em 8em blue, 11em 8em red, 12em 8em red, 13em 8em #e7eef1,
    14em 8em #e7eef1, 15em 8em brown, 0em 9em #ffc966, 1em 9em #ffc966,
    2em 9em red, 3em 9em red, 4em 9em red, 5em 9em red, 6em 9em red,
    7em 9em blue, 8em 9em red, 9em 9em red, 10em 9em red, 11em 9em blue,
    12em 9em #e7eef1, 13em 9em #e7eef1, 14em 9em brown, 15em 9em brown,
    0em 10em #ffc966, 1em 10em #ffc966, 2em 10em #ffc966, 3em 10em red,
    4em 10em red, 5em 10em red, 6em 10em red, 7em 10em blue, 8em 10em blue,
    9em 10em blue, 10em 10em blue, 11em 10em yellow, 12em 10em blue,
    13em 10em blue, 14em 10em brown, 15em 10em brown, 0em 11em #e7eef1,
    1em 11em #ffc966, 2em 11em #e7eef1, 3em 11em #e7eef1, 4em 11em blue,
    5em 11em red, 6em 11em blue, 7em 11em blue, 8em 11em yellow, 9em 11em blue,
    10em 11em blue, 11em 11em blue, 12em 11em blue, 13em 11em blue,
    14em 11em brown, 15em 11em brown, 0em 12em #e7eef1, 1em 12em #e7eef1,
    2em 12em brown, 3em 12em brown, 4em 12em brown, 5em 12em blue, 6em 12em blue,
    7em 12em blue, 8em 12em blue, 9em 12em blue, 10em 12em blue, 11em 12em blue,
    12em 12em blue, 13em 12em blue, 14em 12em brown, 15em 12em brown,
    0em 13em #e7eef1, 1em 13em brown, 2em 13em brown, 3em 13em brown,
    4em 13em blue, 5em 13em blue, 6em 13em blue, 7em 13em blue, 8em 13em blue,
    9em 13em blue, 10em 13em #e7eef1, 11em 13em #e7eef1, 12em 13em #e7eef1,
    13em 13em #e7eef1, 14em 13em #e7eef1, 15em 13em #e7eef1, 0em 14em #e7eef1,
    1em 14em brown, 2em 14em brown, 3em 14em #e7eef1, 4em 14em #e7eef1,
    5em 14em #e7eef1, 6em 14em #e7eef1, 7em 14em #e7eef1, 8em 14em #e7eef1,
    9em 14em #e7eef1, 10em 14em #e7eef1, 11em 14em #e7eef1, 12em 14em #e7eef1,
    13em 14em #e7eef1, 14em 14em #e7eef1, 15em 14em #e7eef1, 0em 15em #e7eef1,
    1em 15em #e7eef1, 2em 15em #e7eef1, 3em 15em #e7eef1, 4em 15em #e7eef1,
    5em 15em #e7eef1, 6em 15em #e7eef1, 7em 15em #e7eef1, 8em 15em #e7eef1,
    9em 15em #e7eef1, 10em 15em #e7eef1, 11em 15em #e7eef1, 12em 15em #e7eef1,
    13em 15em #e7eef1, 14em 15em #e7eef1, 15em 15em #e7eef1;
}
/* day 8 modern layout */
.layout1 article {
  width: 58%;
  float: left;
}
.layout1 aside {
  width: 40%;
  float: right;
}

.layout1 footer {
  clear: both;
}

/* modern layout 2 */
.layout2 header .logo {
  width: 20%;
  float: left;
  margin: 0;
}

.layout2 header nav {
  width: 78%;
  float: right;
  margin: 0;
}

/* clearfix to prevent collapse */
.layout2 header::after {
  display: table;
  content: "";
  clear: both;
}

.layout2 article {
  width: 50%;
  margin-left: 2%;
  float: left;
}

.layout2 aside.sidenav {
  width: 23%;
  float: left;
}
.layout2 aside.sidebar {
  width: 23%;
  float: right;
}

.layout2 footer {
  clear: both;
}

/* modern layout #3 */
.layout3 header .logo {
  width: 20%;
  float: right;
  margin: 0;
}
.layout3 header nav {
  width: 78%;
  float: left;
  margin: 0;
}

.layout3 header::after {
  display: table;
  content: "";
  clear: both;
}
.layout3 article {
  width: 32%;
  float: left;
  margin: 0 2% 0 0;
}

.layout3 article:last-child {
  margin: 0;
}

.layout3 .articles::after {
  display: table;
  content: "";
  clear: both;
}

.layout2 footer {
  clear: both;
}

/* simple media query for responsive layouts */
@media screen and (max-width: 768px) {
  .layout1 article,
  .layout1 aside,
  .layout2 header .logo,
  .layout2 header nav,
  .layout2 article,
  .layout2 aside.sidenav,
  .layout2 aside.sidebar,
  .layout3 article,
  .layout3 aside,
  .layout3 header .logo,
  .layout3 header nav {
    float: none;
    width: 100%;
    margin: 0 0 2%;
  }
}

/* day 10 pricing table */
.pricing-table {
  margin: 60px auto;
}
.pricing-table::after {
  display: table;
  content: "";
  clear: both;
}
.pricing-table > div {
  display: block;
  float: left;
  width: 48%;
  min-height: 1px;
  background-color: #fff;
  color: #555;
}
.pricing-table > div:not(:last-child) {
  margin-right: 2%;
}
.pricing-block {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}
.pricing-header {
  height: auto;
  padding: 30px 20px 40px;
  text-transform: uppercase;
}
.pricing-header .pricing-heading {
  font-size: 1.4rem;
  font-weight: bold;
}
.pricing-price {
  color: #777;
}
.pricing-price > span {
  display: inline-block;
}
.pricing-price__currency {
  margin-top: 10px;
  vertical-align: top;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  opacity: 0.6;
}
.pricing-price__value {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1;
}
.pricing-price__duration {
  margin-top: 10px;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 1;
  opacity: 0.6;
}

.pricing-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing-body ul li {
  display: block;
  padding: 10px 20px;
  margin: 0;
}

.pricing-body ul li:nth-child(2n) {
  background-color: #fff;
}
.pricing-body ul li:nth-child(2n + 1) {
  background-color: #f8f8f8;
}
.pricing-footer {
  padding: 40px 0 0;
}

.pricing-button,
.pricing-button:link,
.pricing-button:visited {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
}
.pricing-popular {
  margin-top: -20px;
}
.pricing-popular .pricing-header {
  padding-top: 50px;
}
.pricing-popular .pricing-footer {
  padding-top: 60px;
}
.pricing-popular .pricing-price {
  color: #ff8888;
}
.pricing-popular .pricing-button {
  background-color: #ff8888;
  color: #fff;
}
.pricing-popular .pricing-button:hover {
  color: #ff8888;
  background-color: #333;
}

@media screen and (max-width: 1023px) {
  .pricing-table {
    margin: auto;
  }
  .pricing-table > div {
    float: none;
    width: 100%;
  }
  .pricing-table > div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .pricing-body {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  .pricing-popular {
    margin-top: 0;
  }
  .pricing-body ul li {
    display: inline-block;
    vertical-align: middle;
  }
  .pricing-body ul li:not(:first-child) {
    margin-left: -5px;
  }
  .pricing-body ul li:nth-child(2n) {
    background-color: #e8e8e8;
  }
  .pricing-footer {
    padding-top: 0;
  }
  .pricing-popular .pricing-header,
  .pricing-popular .pricing-footer {
    padding-top: 30px;
  }
}

/* css variable day 11 */

.sandbox {
  --primary-color: orangered;
  --secondary-color: hotpink;
  --base-measurement: 20px;
}

.sandbox .box {
  text-align: center;

  --text-color: #f3f3f3;

  color: var(--text-color);

  background-color: var(--primary-color);
  margin: var(--base-measurement);

  height: calc(var(--base-measurement) * 10);
  width: calc(var(--base-measurement) * 10);
  line-height: calc(var(--base-measurement) * 10);
}
.sandbox .box2 {
  background-color: var(--secondary-color);
}

/* sticky footer  day 12*/
html,
body {
  height: 100%;
  margin: 0;
}
.page-content {
  min-height: 100%;
  margin-bottom: -120px;
}

.page-content::after {
  content: "";
  display: block;
}

footer,
.page-content::after {
  height: 120px;
}
/* day 13 stycky header css */
body.sticky-header-lesson {
  margin-top: 200px;
}
.sticky-header {
  background-color: rgba(242, 57, 90, 0.9);

  position: fixed;
  top: 0;
  height: 180px;
  width: 100%;

  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sticky-header h1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin: 0 auto;
}
.sticky-header h1 small {
  font-size: 2rem;
}

/* day 15 sticky sidebar */
.sticky-sidebar-lesson {
  width: 80%;
  margin: 0 auto;
}
.sticky-sidebar-lesson::after {
  display: table;
  content: "";
  clear: both;
}
.sticky-sidebar-lesson .sandbox {
  width: 60%;
  margin: 0 0 40px;
  float: left;
}

.sticky-sidebar {
  background-color: #e7eef1;
  padding: 40px 40px 60px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 12px 0 -6px #fa90a3;

  position: fixed;
  right: 5%;
  width: 36%;
  float: right;
}

/* day 16 modal window */
.button {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

input[type="checkbox"]:checked ~ .overlay {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: transform 0.5s ease, opacity 0.5 ease;
  transition: transform 0.5s ease, opacity 0.5 ease;
  transition-delay: 0.1s;
}
input[type="checkbox"]:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: transform 0.5 ease, opacity 0.5s ease;
  transition: transform 0.5 ease, opacity 0.5s ease;
  transition-delay: 0.1s;
}
.modal__content {
  display: block;
  padding: 30px;
  background-color: white;
}

/* day 17 pacman games */
.path {
  position: relative;
  width: 100%;
  height: 100px;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.path ::after {
  content: "";
  position: absolute;
  display: block;
  border-top: 12px dotted white;
  color: white;
  width: 90%;
  top: 50%;
  left: 5%;
  margin-top: -6px;
}

.pacman {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: -20%;
  animation: moveForward 5s linear infinite;
  animation-delay: 0.8s;
}

.pacman::before,
.pacman::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border: solid 30px yellow;
  margin-top: -30px;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: mouthTop 0.7s ease infinite;
}
.pacman::after {
  border-color: yellow;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: mouthBottom 0.7s ease infinite;
}

.ghost {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 20%;
  margin-top: -35px;
  background: red;
  height: 70px;
  width: 60px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  animation: moveForward 5s linear infinite, colourSwap 0.5s linear infinite;
}

.ghost::before,
.ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 25px;
  width: 20px;
  border-radius: 100%;
  top: 15px;
  left: 4px;
}

.ghost::after {
  left: 28px;
}

.eyes::before,
.eyes::after {
  content: "";
  position: absolute;
  background: blue;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  top: 25px;
  left: 5px;
  z-index: 99;
  animation: peeperLeft 0.7s linear infinite;
}

.eyes::after {
  left: 30px;
  animation: peeperRight 0.7s linear infinite;
}
.skirt {
  position: absolute;
  height: 0;
  width: 0;
  border: solid 10px #333;
  border-top-color: transparent;
  bottom: -10px;
}
.skirt::after,
.skirt::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: solid 10px #333;
  border-top-color: transparent;
  bottom: -10px;
  left: 10px;
}
.skirt::after {
  border-color: #333;
  border-top-color: transparent;
  bottom: -10px;
  left: 30px;
}

@keyframes moveForward {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

@keyframes mouthTop {
  50% {
    transform: rotate(44deg);
  }
}
@keyframes mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}
@keyframes peeperRight {
  0%,
  100% {
    left: 5px;
  }
  50% {
    left: 38px;
  }
}
@keyframes peeperLeft {
  0%,
  100% {
    left: 5px;
  }
  50% {
    left: 38px;
  }
}

@keyframes colourSwap {
  50% {
    background: hotpink;
  }
}
